<div class="container center-block">
  <h1>All the available products!</h1>
    <h3><a href="/products/new">Click here to add a new item.</a></h3>
    <% @products.each_slice(3) do |products| %>
      <div class="row equal">
        <% products.each do |product| %>
            <div class="col-md-4">
              <div class="well">
                <a href="/products/<%= product.id %>"><h2> <%= product.name %></h2></a>
                <img src=<%= product.image %>>
                <p>Price: <span><%= number_to_currency(product.price) %></span></p>
                <p>Rating: 
                  <% product.rating.to_i.times do  %>
                    <span class="glyphicon glyphicon-star"></span>
                  <% end %>
                  <% product.blank_stars.to_i.times do %>
                    <span class="glyphicon glyphicon-star-empty"></span>
                  <% end %>
                </p>
                <p>Description: <%= product.description %></p>
                <p>Quantity Available: <%= product.quantity %></p>
                <a href="/products/<%= product.id %>/edit"><button type="btn-primary" class="btn btn-primary">Edit Product</button></a>
              </div>
            </div>
        <% end %>
      </div>
    <% end %> 
    </div>
  </div> 
</div>