<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="well">
        <h1><%= @product.name %></h1>
        <p>Description: <%= @product.description %></p>
        <p>Rating: 
          <% @product.rating.to_i.times do  %>
            <span class="glyphicon glyphicon-star"></span>
          <% end %>
          <% @product.blank_stars.to_i.times do %>
            <span class="glyphicon glyphicon-star-empty"></span>
          <% end %>
        </p>
        <p>Current Price: <span><%= number_to_currency(@product.price) %></span></p>
        <p>Tax: <span><%= number_to_currency(@product.tax) %></span></p>
        <p>Total: <span><%= number_to_currency(@product.total) %></span></p>
        <h3><%= @product.sale_message %></h3>
        <p>Here is a picture of it:</p>
        <img src="<%= @product.image %>" alt="<%= @product.description %>">
        <br />
        <a href="/products/<%= @product.id %>/edit"><button type="btn-primary" class="btn btn-primary">Edit Product</button></a>
        <%= button_to "Delete Product", "/products/#{@product.id}", method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger" %>
        <a href="/products"><button type="btn-primary" class="btn btn-success">All products</button></a>
        <%# form_tag "/products/#{@product.id}", method: :delete, data: { confirm: "Are you sure?"} do %>
          <!-- <input type="submit" value="Delete Product"> -->
        <%# end %>
        <%# link_to "Delete Product", "/products/#{@product.id}", method: :delete, data: { confirm: "Are you sure?"} %>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

